
     <!-- Start Top Title -->
     <div class="Top-title pt-0 mt-5">
        <div class="layout">
            <div class="caption">
                <h1>Agencies</h1>
            </div>
        </div>
    </div>
    <!-- End Top Title -->


    <div class="home  mt-5">
           <!-- path -->
           <div class="content mt-4"  data-aos="fade-up"
           data-aos-anchor-placement="top-bottom">
               <div class="path py-1 px-3 container">
                   <span class="pr-1 home">Home</span>
                   <span class="pr-1 gray"> ></span>
                   <span class="mx-2">Car Services </span>
               </div>
           </div>
   
           <div class="title text-center my-5"  data-aos="zoom-in-down">
               <h2>Car maintenance centers in Egypt</h2>
           
           </div>
    <section class=" drop-down container ">

        <div class="boxes" data-aos="zoom-in-down">
            <ul>
                <!-- 1 -->
                <li>
                    <select>
                        <option value="#">Old Car</option>
                        <option value="#">B</option>
                        <option value="#">C</option>
                    </select>
                </li>
                <!-- 2 -->
                <li>
                    <select>
                        <option value="#">Brand</option>
                        <option value="#">B</option>
                        <option value="#">C</option>
                    </select>
                </li>
                <!-- 3 -->
                <li>
                    <select>
                        <option value="#">Modal</option>
                        <option value="#">B</option>
                        <option value="#">C</option>
                    </select>
                </li>
                <!-- 4 -->
                <li>
                    <select>
                        <option value="#">Class</option>
                        <option value="#">B</option>
                        <option value="#">C</option>
                    </select>
                </li>
                <!-- 5 -->
                <li id="button">
                    <button class="btn">Search</button>
                </li>
                <!-- 0 -->
            </ul>
        </div>


    </section>
    </div>

    <div class="container">
        <div class=" mx-3 mt-5 mb-3 addres">
            <h4> Showroom In Egypt </h4>
        </div>
        <div class="row">
            <div class="col-md-4 mb-3">
                <div class="cars border roundedd p-3 bg-gray">
                                
                    <a routerLink="detailsagencies">
                    <img class="w-100 roundedd " src="../../assets/img-forw/img-forw/logos/أسعار-السيارات-فى-معرض-القرش.jpg" alt="">
                    </a>
                    <div class="pl-2 mt-3 font-weight-bolder">
                        <div class="d-flex justify-content-between">
                            <h4 class="font-weight-bold">Alqersh cars</h4> 

                            <div>
                              <i class="fa-solid fa-star text-warning"></i>
                              <span class="fw-bolder ml-1"> 4.5</span> 
                            </div>
                        </div>
                    <p class="mb-1 text-muted fs-6">Cairo </p>
                    <div class="icon mt-2 pt-2">
                        <h5 class="pb-3">Offers and discount - up to 25% <i class="fa-solid fa-thin fa-bookmark"></i>
                        </h5>
                    </div>

           
                     </div>
                </div>

            </div>
            <div class="col-md-4 mb-3">
                <div class="cars border roundedd p-3 bg-gray">
                                
                    <a routerLink="detailsagencies">
                    <img class="w-100 roundedd " src="../../assets/img-forw/img-forw/logos/أسعار-السيارات-فى-معرض-القرش.jpg" alt="">
                    </a>
                    <div class="pl-2 mt-3 font-weight-bolder">
                        <div class="d-flex justify-content-between">
                            <h4 class="font-weight-bold">Alqersh cars</h4> 

                            <div>
                              <i class="fa-solid fa-star text-warning"></i>
                              <span class="fw-bolder ml-1"> 4.5</span> 
                            </div>
                        </div>
                    <p class="mb-1 text-muted fs-6">Cairo </p>
                    <div class="icon mt-2 pt-2">
                        <h5 class="pb-3">Offers and discount - up to 25% <i class="fa-solid fa-thin fa-bookmark"></i>
                        </h5>
                    </div>

           
                     </div>
                </div>

            </div>
            <div class="col-md-4 mb-3">
                <div class="cars border roundedd p-3 bg-gray">
                                
                    <a routerLink="detailsagencies">
                    <img class="w-100 roundedd " src="../../assets/img-forw/img-forw/logos/أسعار-السيارات-فى-معرض-القرش.jpg" alt="">
                    </a>
                    <div class="pl-2 mt-3 font-weight-bolder">
                        <div class="d-flex justify-content-between">
                            <h4 class="font-weight-bold">Alqersh cars</h4> 

                            <div>
                              <i class="fa-solid fa-star text-warning"></i>
                              <span class="fw-bolder ml-1"> 4.5</span> 
                            </div>
                        </div>
                    <p class="mb-1 text-muted fs-6">Cairo </p>
                    <div class="icon mt-2 pt-2">
                        <h5 class="pb-3">Offers and discount - up to 25% <i class="fa-solid fa-thin fa-bookmark"></i>
                        </h5>
                    </div>

           
                     </div>
                </div>

            </div>
            <div class="col-md-4 mb-3">
                <div class="cars border roundedd p-3 bg-gray">
                                
                    <a routerLink="detailsagencies">
                    <img class="w-100 roundedd " src="../../assets/img-forw/img-forw/logos/أسعار-السيارات-فى-معرض-القرش.jpg" alt="">
                    </a>
                    <div class="pl-2 mt-3 font-weight-bolder">
                        <div class="d-flex justify-content-between">
                            <h4 class="font-weight-bold">Alqersh cars</h4> 

                            <div>
                              <i class="fa-solid fa-star text-warning"></i>
                              <span class="fw-bolder ml-1"> 4.5</span> 
                            </div>
                        </div>
                    <p class="mb-1 text-muted fs-6">Cairo </p>
                    <div class="icon mt-2 pt-2">
                        <h5 class="pb-3">Offers and discount - up to 25% <i class="fa-solid fa-thin fa-bookmark"></i>
                        </h5>
                    </div>

           
                     </div>
                </div>

            </div>
            <div class="col-md-4 mb-3">
                <div class="cars border roundedd p-3 bg-gray">
                                
                    <a routerLink="detailsagencies">
                    <img class="w-100 roundedd " src="../../assets/img-forw/img-forw/logos/أسعار-السيارات-فى-معرض-القرش.jpg" alt="">
                    </a>
                    <div class="pl-2 mt-3 font-weight-bolder">
                        <div class="d-flex justify-content-between">
                            <h4 class="font-weight-bold">Alqersh cars</h4> 

                            <div>
                              <i class="fa-solid fa-star text-warning"></i>
                              <span class="fw-bolder ml-1"> 4.5</span> 
                            </div>
                        </div>
                    <p class="mb-1 text-muted fs-6">Cairo </p>
                    <div class="icon mt-2 pt-2">
                        <h5 class="pb-3">Offers and discount - up to 25% <i class="fa-solid fa-thin fa-bookmark"></i>
                        </h5>
                    </div>

           
                     </div>
                </div>

            </div>
            <div class="col-md-4 mb-3">
                <div class="cars border roundedd p-3 bg-gray">
                                
                    <a routerLink="detailsagencies">
                    <img class="w-100 roundedd " src="../../assets/img-forw/img-forw/logos/أسعار-السيارات-فى-معرض-القرش.jpg" alt="">
                    </a>
                    <div class="pl-2 mt-3 font-weight-bolder">
                        <div class="d-flex justify-content-between">
                            <h4 class="font-weight-bold">Alqersh cars</h4> 

                            <div>
                              <i class="fa-solid fa-star text-warning"></i>
                              <span class="fw-bolder ml-1"> 4.5</span> 
                            </div>
                        </div>
                    <p class="mb-1 text-muted fs-6">Cairo </p>
                    <div class="icon mt-2 pt-2">
                        <h5 class="pb-3">Offers and discount - up to 25% <i class="fa-solid fa-thin fa-bookmark"></i>
                        </h5>
                    </div>

           
                     </div>
                </div>

            </div>
                        <div class="col-md-4 mb-3">
                <div class="cars border roundedd p-3 bg-gray">
                                
                    <a routerLink="detailsagencies">
                    <img class="w-100 roundedd " src="../../assets/img-forw/img-forw/logos/أسعار-السيارات-فى-معرض-القرش.jpg" alt="">
                    </a>
                    <div class="pl-2 mt-3 font-weight-bolder">
                        <div class="d-flex justify-content-between">
                            <h4 class="font-weight-bold">Alqersh cars</h4> 

                            <div>
                              <i class="fa-solid fa-star text-warning"></i>
                              <span class="fw-bolder ml-1"> 4.5</span> 
                            </div>
                        </div>
                    <p class="mb-1 text-muted fs-6">Cairo </p>
                    <div class="icon mt-2 pt-2">
                        <h5 class="pb-3">Offers and discount - up to 25% <i class="fa-solid fa-thin fa-bookmark"></i>
                        </h5>
                    </div>

           
                     </div>
                </div>

            </div>
                        <div class="col-md-4 mb-3">
                <div class="cars border roundedd p-3 bg-gray">
                                
                    <a routerLink="detailsagencies">
                    <img class="w-100 roundedd " src="../../assets/img-forw/img-forw/logos/أسعار-السيارات-فى-معرض-القرش.jpg" alt="">
                    </a>
                    <div class="pl-2 mt-3 font-weight-bolder">
                        <div class="d-flex justify-content-between">
                            <h4 class="font-weight-bold">Alqersh cars</h4> 

                            <div>
                              <i class="fa-solid fa-star text-warning"></i>
                              <span class="fw-bolder ml-1"> 4.5</span> 
                            </div>
                        </div>
                    <p class="mb-1 text-muted fs-6">Cairo </p>
                    <div class="icon mt-2 pt-2">
                        <h5 class="pb-3">Offers and discount - up to 25% <i class="fa-solid fa-thin fa-bookmark"></i>
                        </h5>
                    </div>

           
                     </div>
                </div>

            </div>
            <div class="col-md-4 mb-3">
                <div class="cars border roundedd p-3 bg-gray">
                                
                    <a routerLink="detailsagencies">
                    <img class="w-100 roundedd " src="../../assets/img-forw/img-forw/logos/أسعار-السيارات-فى-معرض-القرش.jpg" alt="">
                    </a>
                    <div class="pl-2 mt-3 font-weight-bolder">
                        <div class="d-flex justify-content-between">
                            <h4 class="font-weight-bold">Alqersh cars</h4> 

                            <div>
                              <i class="fa-solid fa-star text-warning"></i>
                              <span class="fw-bolder ml-1"> 4.5</span> 
                            </div>
                        </div>
                    <p class="mb-1 text-muted fs-6">Cairo </p>
                    <div class="icon mt-2 pt-2">
                        <h5 class="pb-3">Offers and discount - up to 25% <i class="fa-solid fa-thin fa-bookmark"></i>
                        </h5>
                    </div>

           
                     </div>
                </div>

            </div>
            <div class="col-md-4 mb-3">
                <div class="cars border roundedd p-3 bg-gray">
                                
                    <a routerLink="detailsagencies">
                    <img class="w-100 roundedd " src="../../assets/img-forw/img-forw/logos/أسعار-السيارات-فى-معرض-القرش.jpg" alt="">
                    </a>
                    <div class="pl-2 mt-3 font-weight-bolder">
                        <div class="d-flex justify-content-between">
                            <h4 class="font-weight-bold">Alqersh cars</h4> 

                            <div>
                              <i class="fa-solid fa-star text-warning"></i>
                              <span class="fw-bolder ml-1"> 4.5</span> 
                            </div>
                        </div>
                    <p class="mb-1 text-muted fs-6">Cairo </p>
                    <div class="icon mt-2 pt-2">
                        <h5 class="pb-3">Offers and discount - up to 25% <i class="fa-solid fa-thin fa-bookmark"></i>
                        </h5>
                    </div>

           
                     </div>
                </div>

            </div>
            <div class="col-md-4 mb-3">
                <div class="cars border roundedd p-3 bg-gray">
                                
                    <a routerLink="detailsagencies">
                    <img class="w-100 roundedd " src="../../assets/img-forw/img-forw/logos/أسعار-السيارات-فى-معرض-القرش.jpg" alt="">
                    </a>
                    <div class="pl-2 mt-3 font-weight-bolder">
                        <div class="d-flex justify-content-between">
                            <h4 class="font-weight-bold">Alqersh cars</h4> 

                            <div>
                              <i class="fa-solid fa-star text-warning"></i>
                              <span class="fw-bolder ml-1"> 4.5</span> 
                            </div>
                        </div>
                    <p class="mb-1 text-muted fs-6">Cairo </p>
                    <div class="icon mt-2 pt-2">
                        <h5 class="pb-3">Offers and discount - up to 25% <i class="fa-solid fa-thin fa-bookmark"></i>
                        </h5>
                    </div>

           
                     </div>
                </div>

            </div>
            <div class="col-md-4 mb-3">
                <div class="cars border roundedd p-3 bg-gray">
                                
                    <a routerLink="detailsagencies">
                    <img class="w-100 roundedd " src="../../assets/img-forw/img-forw/logos/أسعار-السيارات-فى-معرض-القرش.jpg" alt="">
                    </a>
                    <div class="pl-2 mt-3 font-weight-bolder">
                        <div class="d-flex justify-content-between">
                            <h4 class="font-weight-bold">Alqersh cars</h4> 

                            <div>
                              <i class="fa-solid fa-star text-warning"></i>
                              <span class="fw-bolder ml-1"> 4.5</span> 
                            </div>
                        </div>
                    <p class="mb-1 text-muted fs-6">Cairo </p>
                    <div class="icon mt-2 pt-2">
                        <h5 class="pb-3">Offers and discount - up to 25% <i class="fa-solid fa-thin fa-bookmark"></i>
                        </h5>
                    </div>

           
                     </div>
                </div>

            </div>
 

         
        </div>
    

    </div>
    



                <!-- Start Footer -->
                <footer class="mt-5">
                    <div class="container">
                        <!-- 1 -->
                        <div class="top">
            
                            <div class="slide">
                                <div class="text">
                                    <p>Tips before buying a car !</p>
                                </div>
                                <div class="image">
                                    <img src="../../assets/images/1.jpg" alt="">
                                </div>
                            </div>
            
            
                        </div>
                        <!-- 2 -->
                        <div class="middle">
                            <div class="row">
                                <!-- 1 -->
                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <div class="box">
                                        <h3>Help</h3>
                                        <ul>
                                            <li>
                                                <a href="#">Contact Us</a>
                                            </li>
                                            <li>
                                                <a href="#">Country</a>
                                            </li>
                                            <li>
                                                <a href="#">FAQ</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- 2 -->
                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <div class="box">
                                        <h3>Services</h3>
                                        <ul>
                                            <li>
                                                <a href="index.html">Home</a>
                                            </li>
                                            <li>
                                                <a href="compare.html">Compare</a>
                                            </li>
                                            <li>
                                                <a href="#">Car services</a>
                                            </li>
                                            <li>
                                                <a href="#">Rescue winch</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- 3 -->
                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <div class="box">
                                        <h3>Tags</h3>
                                        <ul>
                                            <li>
                                                <a href="#">Care</a>
                                            </li>
                                            <li>
                                                <a href="#">Car services</a>
                                            </li>
                                            <li>
                                                <a href="#">Saleing</a>
                                            </li>
                                            <li>
                                                <a href="#">Rescue</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            
                    <div class="bottom">
                        <div class="content">
                            <div class="social">
                                <div class="icon-box">
                                    <i class="fa-brands fa-youtube"></i>
                                </div>
                                <div class="icon-box">
                                    <i class="fa-brands fa-facebook-f"></i>
                                </div>
                                <div class="icon-box">
                                    <i class="fa-brands fa-instagram"></i>
                                </div>
                            </div>
                            <div class="copyright">
                                <p>©2022 All rights resaved <a href="#">Car Zone</a></p>
                            </div>
                            <div class="lang">
                                <select>
                                    <option value="">Language</option>
                                    <option value="English">English</option>
                                    <option value="French">French</option>
                                    <option value="Arabic">Arabic</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- End Footer -->