
.bg-gray
{
background-color: #E7E7E7;
}
.icon
{
    color: #36a108;
}
 .title h2 {
    font-size: 25px;
    margin: 0 auto 1.5rem auto;
    padding-bottom: 2.5rem;
    width:max-content;
    border-bottom: 3px  solid #06A5F4;
    color: #000;
    font-weight: 600;
}
.addres h4
{
    color: #06A5F4;
    font-weight: 600;
}
.roundedd{
    border-radius: 10px;
}