
<!--  -->

<div class="Top-title pt-0 mt-5">
    <div class="layout">
        <div class="caption">
            <h2>Car Services </h2>
        </div>
    </div>
</div>

<!--  -->
<section class="winch ">

    <div class="container ">
        <!-- path -->
        <div class="content mt-4"  data-aos="fade-up"
        data-aos-anchor-placement="top-bottom">
            <div class="path py-1 px-3">
                <span class="pr-1 home">Home</span>
                <span class="pr-1 gray"> ></span>
                <span class="mx-2">Car Services </span>
            </div>
        </div>

        <div class="title text-center my-5"  data-aos="zoom-in-down">
            <h2>Car maintenance centers in Egypt</h2>
            <p>Certifiec and unaccredited car maintenance centers in Egypt <br>
                for all makes and models, with phone numbers and addresses </p>
        </div>

  

        <!--  -->

        <div class="row text-center">
            <div class=" mx-3 mt-4 mb-2 addres">
                <h4>Maintenance centers</h4>
            </div>

            <div *ngFor="let service of services" class="col-md-12 py-1" data-aos="fade-right"
            data-aos-offset="300"
            data-aos-easing="ease-in-sine">
                <div class="row content-5 mx-2">
                    <div class="col-md-6">

                        <div class="row">
                            <div class="col-md-4">
                                <div class="icon mt-2 justify-content-center align-items-center">
                                    <div class="image-icon">
                                        <img [src]=" service?.productImage || '../../assets/images/home/Group 344.png'" alt="" class="">
                                    </div>

                                </div>
                            </div>
                            <!--  -->
                            <div class="col-md-8 d-flex mt-5">
                                <div class="icon-3 mt-2 ">
                                    <h5 class="text-left">{{service?.productTitle}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--  -->
                    <div class="col-md-6">

                        <div class="row align-items-center h-100">
                            <div class="col-md-12 text-left">
                                
                                <!--  -->
                                <div class="social-icon   d-flex text-center justify-content-end ">
                                    {{service?.productDescription}}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
         
        </div>




    </div>
</section>

            <!-- Start Footer -->
            <footer class="mt-5" >
                <div class="container ">
                   
                    <!-- 2 -->
                    <div class="middle">
                        <div class="row">
                            <!-- 1 -->
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="box">
                                    <h3>Help</h3>
                                    <ul>
                                        <li>
                                            <a href="#">Contact Us</a>
                                        </li>
                                        <li>
                                            <a href="#">Country</a>
                                        </li>
                                        <li>
                                            <a href="#">FAQ</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- 2 -->
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="box">
                                    <h3>Services</h3>
                                    <ul>
                                        <li>
                                            <a href="index.html">Home</a>
                                        </li>
                                        <li>
                                            <a href="compare.html">Compare</a>
                                        </li>
                                        <li>
                                            <a href="#">Car services</a>
                                        </li>
                                        <li>
                                            <a href="#">Rescue winch</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- 3 -->
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="box">
                                    <h3>Tags</h3>
                                    <ul>
                                        <li>
                                            <a href="#">Care</a>
                                        </li>
                                        <li>
                                            <a href="#">Car services</a>
                                        </li>
                                        <li>
                                            <a href="#">Saleing</a>
                                        </li>
                                        <li>
                                            <a href="#">Rescue</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="bottom">
                    <div class="content">
                        <div class="social">
                            <div class="icon-box">
                                <i class="fa-brands fa-youtube"></i>
                            </div>
                            <div class="icon-box">
                                <i class="fa-brands fa-facebook-f"></i>
                            </div>
                            <div class="icon-box">
                                <i class="fa-brands fa-instagram"></i>
                            </div>
                        </div>
                        <div class="copyright">
                            <p>©2022 All rights resaved <a href="#">Car Zone</a></p>
                        </div>
                        <div class="lang">
                            <select>
                                <option value="">Language</option>
                                <option value="English">English</option>
                                <option value="French">French</option>
                                <option value="Arabic">Arabic</option>
                            </select>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- End Footer -->